{% extends 'base.html.twig' %}

{% block title %}DragonPit Store | EDIT - 
	{{ product }}
{% endblock %}

{% block body %}
<div class='page'>
{% include "index/inc/menu.html.twig" %}
{{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
</div>


{% include "index/inc/footer.html.twig" %}
{% endblock %}
