{% block stylesheets %}
            {{ encore_entry_link_tags('footer') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('footer') }}
        {% endblock %}
<div class='footer'>
</div>